<header class="h3">
    <%= simple_format render text: sanitize(@post.title) %>
    <small>by <%= link_to @post.user.name, @post.user %></small>
</header>
<article>
    <% if !@post[:featured_image].blank? %>
    <div class="media-right photo">
        <% if @post.featured_image.stored_version.blank? %>
          <%= link_to @post.featured_image.url do
                image_tag @post.featured_image.url, class: "img-responsive", alt: @post.summary
              end %>
        <% else %>
          <%= link_to @post.featured_image.versions[:standard].url do
                image_tag @post.featured_image.versions[:thumbnail].url, class: "img-responsive", alt: @post.summary
              end %>
        <% end %>
    </div>
    <% end %>

    <%= render html: sanitize(@post.body) %>
</article>
